.article-card{
    min-height: 40vh;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 12px;
    border: 1px solid #c044ec;
    margin-top: 5%;
}
.article-card-title{
    font-size: 2.5vh;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: white;
    margin: 5% 0;
}
.article-card-text{
    font-size: 2vh;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}
.article-image{
    max-height: 35vh;
    max-width: 35vw;
    margin: 0 auto;
}
.article-card-link{
    margin-top: 1.5vh;
    color: white;
    text-decoration: underline #c044ec;
}
.article-card-link:hover {
    color: white;
    text-decoration: underline #c044ec;
}